body { color: #333;
	background: url(../images/22.png) repeat;
}
html, body {
height: 100%;
margin: 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

#top_navigation{
	color: white;
	text-align: right;
	padding-right: 10px;
	float: right;
	padding-top: 2px;
}

#top_navigation a, #top_navigation a:visited{
	color: white;
	text-decoration: underline;
} 

#top_navigation a:hover{
	color: silver;
	text-decoration: underline;
} 

#header{
	height: 75px;
	padding: 25px 20px 10px;
	background: #8e8f8f
}

#header img{float: left;}

#header h1{	font-size: 32px;}

#outer_container{
		background-image: url(../images/background.png);
			margin: 0 auto;
			padding: 0 0px 0px;
				width: 1000px;
min-height: 100%
}

#container{
	width: 950px;
	margin: 0 auto;
}


#footer{
	color: #babbbb;
	font-size: 10px;
	position: fixed;
	bottom: 0px;
	width: 950px;
	margin-left: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

#footer img{
	margin-right: 15px;
	float: right;
	margin-bottom: 5px;
}

#contents{
	background-color: #424343;
	padding: 20px;
	border-style: none;
	color: #fffeff;
}

div.header{
	height: 50px;
	padding: 10px 20px;
	margin: -20px -20px 20px;
	background: #048ce1}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

