<% title 'Settings' %>

<% header do %>
<h1>Settings</h1>
<% end %>

<h3><%= link_to "Users", users_path %></h3>
<h3><%= link_to "Buildings", buildings_path %></h3>
<h3><%= link_to "Statuses", statuses_path %></h3>