<% title 'Work Order Submitted' %>

<% header do %>
<h1>Work Order Submitted</h1>
<% end %>

<h1>Your work order request has been submitted.</h1>
<h2>Someone will contact you shortly ...</h2>
<p>
  <%= link_to "Submit another work order", home_path %>
</p>